# Node.js
node_modules/

# Build artifacts
dist/
bundle/
.parcel-cache/

# IDE / Editor
.idea/
.vscode/
*.iml
.DS_Store

# System Files
.env
.env.local

# Logs
*.log
*.tmp

# Tauri
/src-tauri/target/
